HELP.md
target/
src/main/resources/application.properties
src/main/resources/redisson.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###


### VS Code ###
.vscode/

/LOG_HOME_IS_UNDEFINED/
